[submodule "nvim"]
	path = nvim
	url = https://github.com/lohit-dev/nvchad_config.git
	branch = master
[submodule "password-store"]
	path = password-store
	url = "https://github.com/lohit-dev/Password-store.git"
	branch = main
[submodule "zsh"]
	path = zsh
	url = https://github.com/lohit-dev/.zsh.git
